version: '{build}'

image: Visual Studio 2015

assembly_info:
  patch: true
  assembly_version: '{version}'

configuration: Release

branches:
  only:
    - master

pull_requests:
  do_not_increment_build_number: true

before_build:
  - dotnet restore

build:
  project: AuthenticatedEncryption.sln

after_test:
  - dotnet pack .\AuthenticatedEncryption -c Release --version-suffix %APPVEYOR_BUILD_NUMBER%

artifacts:
  - path: '**\*.nupkg'

deploy:
  - provider: NuGet
    api_key:
      secure: ANJVg76+ZG8oux3kZiS8MazTByIDILozxNJfQGa0zD3+1+jXaPN152mDu4JFyuka
    on:
      branch: master
